body {
  font-family: 'Roboto', sans-serif; /* Ensure you're using a modern font */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MuiTableCell-head {
  background-color: #2775c2;
  color: white;
}

.MuiTableCell-body {
  font-size: 14px;
}
